# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.flleb.mongodb.net/?appName=Cluster0

# Job Scheduler Configuration
# Timezone reference: https://en.wikipedia.org/wiki/Tz_database
SNAPSHOT_DAILY_CRON=0 5 * * *
SNAPSHOT_WEEKLY_CRON=0 10 * * 0
EXPORT_WEEKLY_CRON=0 22 * * 1

# Data Retention
TTL_DAYS=450

# Export Configuration
EXPORT_PATH=./exports
